*{
    -webkit-appearance: none;
}


.radio{
    -webkit-appearance: radio;
}

input{
    background-color: transparent;
}

input[type = "checkbox"]{
    -webkit-appearance: checkbox;
}

html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border:0;
    overflow: hidden;
    color: #6cbd74;
    position: relative;
}

body{
    background-image:url('../picture/background/light.png');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-clip: content-box;
}

/*.container{*/
    /*width:100%;*/
    /*height:100%;*/

    /*background-image:url('../picture/background/light.png');*/
    /*background-repeat:no-repeat;*/
    /*background-position:center;*/
    /*background-size: 100% 100%;*/
/*}*/

.Horizontal_Center{
    margin:0 auto;
}

.Absolute_Center{
    position: absolute;
    margin:auto;
    left:0;  right:0;  top:0;  bottom:0;
    padding:0;
    border:0;
    overflow: visible;
}



.content_container{
    position:relative;
    display: inline-block;
    vertical-align:top;
    height:98%;
    width:78%;
    margin: 0;
    padding:0;
    border:0;
}

.buttom_container{
    position:relative;
    display: block;
    width:20%;
    height:auto;
    margin:0 auto;
    background-color: chartreuse;
    text-align: center;
    border-radius: 5px;
}

.bar_word{
    display: inline-block;
    height: 50%;
    line-height: 1;
    vertical-align: top;
}

.icon{
    display: inline-block;
    position:relative;
    vertical-align: top;
    height:50%;
    width:20px;
}

#record_container{
    background-color: ghostwhite;
    color: black;
}



.display_hidden{
    display: none;
}

.hidden{
    visibility: hidden;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: RGB(207, 207, 207);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: RGB(207, 207, 207);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: RGB(207, 207, 207);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: RGB(207, 207, 207);
}

.color{
    color: #6cbd74;
}

.error_color{
    color: #eb6100;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.noscroll{
    overflow: hidden;
}

.radius{
    border-radius: 5px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated_short {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }
}

@keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}


.div_slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.div_slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.div_slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.div_slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}



